##### 1. Find the 2nd largest and 2nd smallest element in a list.

In [10]:
l1 = [14,57,68,34,56,98,70,86,25]
l2 = tuple(sorted(l1))
second_smallest = l2[1]
second_largest = l2[-2]
print("second_smallest",second_smallest)
print("second_largest",second_largest)

second_smallest 25
second_largest 86

##### 2. Find the key with the largest value in a dictionary.

In [17]:
d1 = {"a": 10, "b": 20 , "c":30}

print(max(sorted(d1.get.value)))

AttributeError: 'builtin_function_or_method' object has no attribute 'value'

##### 3. Create a new folder using os module and create a file inside it.f

In [76]:
import os
f = {"abc.txt","w"}

AttributeError: 'set' object has no attribute 'read' and no __dict__ for setting new attributes

##### 4. Write a recursive function to calculate Fibonacci series up to n terms.

In [103]:
a,b = 0,1
n = 7
for i in range(1,n+1):
    print(a,end=" ")
    a,b = b, a+b

0 1 1 2 3 5 8

##### 5. Use a lambda with map() to convert a list of integers into their cubes.

In [99]:
x = [1,2,3,4,5,6,7,8,9]
y = list(map(lambda x: x**3,x))
print("cubes:",y)

cubes: [1, 8, 27, 64, 125, 216, 343, 512, 729]

##### 6. Create a class Employee that increases salary by 10%.

In [59]:
class employee:
    def __init__(self,name,salary):
        self.name = name 
        self.salary = salary
    def increment(self):
        self.salary *= 1.1
        print("new salary: ",self.salary)

In [62]:
s = employee("akshit",50000)
s.increment()

new salary:  55000.00000000001

##### 7. Write a program to print the date 30 days from today.

In [71]:
import datetime
from datetime import date
from datetime import timedelta
today = datetime.datetime.now
date1 = date.today() + timedelta(days=30)
print(date1)

2025-10-16

##### 8. Write a program to convert radians to degrees and vice versa.

In [49]:
import math
print("degree", math.degrees(math.pi))
print("radian", math.radians(180))

degree 180.0
radian 3.141592653589793

##### 9.  Write a regex to validate if a string is a valid Indian mobile number (10 digits).

##### 10. Create a class Bank with encapsulated methods to show account details securely.

In [113]:
class bank:
    def __init__(self,balance):
        self.__balance = balance
        
    def deposit(self,amount):
        self.__balance += amount
        print("balance:",self.__balance)

    def withdrawn(self,amount):
       if self.__balance > 0:
           self.__balance -= amount
           print("balance:",self.__balance)

In [114]:
d = bank(5000)
d.deposit(500)
d.withdrawn(500)

balance: 5500
balance: 5000